p {style
  text-align: center;
}

.titulo-centralizado{
  text-align: center
}

body {

}
  #banner{
    width:100%;
}   
.principal {
  background: #CCCCCC;
  padding: 30px;
}

.titulo-principal{

   padding-lef: 20px;
}
#missao{
  font-size: 20px
}

em strong{
  color: darkseagreen;
}
.itens {
  font-style: italic
}

.beneficios {
  background: #FFFFFF
    padding: 20px;
}

h2 {

}

ul {
  display: inline-block;
  vertical-align: top;
  widh: 20%;
  margin-right: 15%;
}

.imagembeneficios {
  width: 50%;
}